<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="SpectralTypesMaster.master.cs" Inherits="SkyServer.Proj.SpectralTypes.SpectralTypesMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="SpectralTypesContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
