# Build Folders
[Bb]in
[Oo]bj

# User-specific Files
*.suo
*.user
*.sln.docstates

# NuGet Packages Directory
packages

# Others
[Ww]eb.config
version.txt

# Needed for tracking empty folders
!.gitkeep