body > div.migrationAlert {
    width:648px;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:chocolate;
    color:white;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    line-height:1.5em;
}
body>div.migrationAlert{
    font-size:0.9em;
    font-family:Verdana, Helvetica, sans-serif;
}
body>div.migrationAlert>a{
    font-size:1em;
    font-weight:bold;
    font-family:inherit;
}
