<%@ Master Language="C#" MasterPageFile="../../TeachersMaster.master" AutoEventWireup="true" CodeBehind="OldTimeMaster.master.cs" Inherits="SkyServer.Proj.Teachers.Kids.OldTime.OldTimeMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TeachersContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="OldTimeContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
