<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="ScavengerMaster.master.cs" Inherits="SkyServer.Proj.Scavenger.ScavengerMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="ScavengerContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
