<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="UniverseMaster.master.cs" Inherits="SkyServer.Proj.Universe.UniverseMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="UniverseContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
