<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="QuasarsMaster.master.cs" Inherits="SkyServer.Proj.Advanced.Quasars.QuasarsMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="QuasarsContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
