<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="HubbleMaster.master.cs" Inherits="SkyServer.Proj.Advanced.Hubble.HubbleMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="HubbleContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
