<%@ Master Language="C#" MasterPageFile="../../TeachersMaster.master" AutoEventWireup="true" CodeBehind="SkySurveysMaster.master.cs" Inherits="SkyServer.Proj.Teachers.Advanced.SkySurveys.SkySurveysMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TeachersContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="SkySurveysContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
