<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="OldTimeMaster.master.cs" Inherits="SkyServer.Proj.Kids.OldTime.OldTimeMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="OldTimeContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
