<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="HiiMaster.master.cs" Inherits="SkyServer.Proj.Hii.HiiMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="HiiContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
