<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="GalaxiesMaster.master.cs" Inherits="SkyServer.Proj.Galaxies.GalaxiesMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="GalaxiesContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
