<%@ Master Language="C#" MasterPageFile="../../ProjMaster.master" AutoEventWireup="true" CodeBehind="ConstellationMaster.master.cs" Inherits="SkyServer.Proj.Constellation.ConstellationMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ProjContent" runat="server">
<p />
<% 
    ProjGutter.makeGutter(sgselect, sgutter);
%>
    <asp:ContentPlaceHolder ID="ConstellationContent" runat="server">
    
    </asp:ContentPlaceHolder>
</asp:Content>
